:root {
  --dark-pink: #BA4270;
  --light-white: #fbfcfe;
  --juan-blue: #36536B;
  --mirage-blue: #1B262F;
  --charm-pink: #DA6D97;
  --light-juan-blue: #6C8294;
  --color-body: #EDF3F8;
  --font-stack: 'DM Serif Display', 'Arial', sans-serif;
  --font-text: 'Public Sans', 'Arial', sans-serif;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
      url('../fonts/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
      url('../fonts/PublicSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
      url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--color-body);
  overflow-x: hidden;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER  */
.site-header {
  padding-top: 40px;
}

.site-header::after {
  position: absolute;
  z-index: 10;
  top: -550px;
  left: calc(50% - 392px);
  display: block;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: rgba(54, 83, 107, 0.15);
  content: "";
}

.site-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__link {
  text-decoration: none;
}

.site-header__nav {
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: 0;
  width: 28px;
  height: 17px;
  background-image: url("../img/site-head-logp-burger.svg");
  background-repeat: no-repeat;
}

/* NAVIGATION  */

.sitenav {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--mirage-blue);
  transition: transform 0.6s ease;
}

.sitenav--acitve {
  display: block;
}



.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 86px;
}

.sitenav__list::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--light-white);
  opacity: 0.15;
  margin-bottom: 43px;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  opacity: 0.7;
  color: var(--light-white);
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: var(--juan-blue);
}

.sitenav-link__box {
  margin-top: 40px;
}

.sitenav__link--btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: var(--dark-pink);
  padding: 15px 38px;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.sitenav__link--btn:hover {
  background-color: var(--charm-pink);
}

/* SITE -HERO  */
.hero {
  padding-top: 32px;
  padding-bottom: 80px;
}

.hero-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.hero-container::before {
  display: block;
    width: 128px;
    height: 240px;
    background-image: url('../img/hero-tablet.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 24px;
    content: "";
}


.hero__head {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--juan-blue);
  font-family: var(--font-stack);
  text-align: center;
}

/* FORM  */
.form__group {
  margin-left: auto;
  margin-right: auto;
}

.input-mail {
  display: block;
  width: 327px;
  padding: 15px 15px 15px 26px;
  border: 0;
  background-color: var(--light-white);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-top: 24px;
  outline: none;
}

::placeholder {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}

.form-btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--light-white);
  border: 0;
  background-color: var(--dark-pink);
  padding: 15px 100px;
  border-radius: 24px;
  margin-top: 16px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: var(--charm-pink);
}

.form__desc {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
}

.form__desc__link {
  text-decoration: none;
  font-weight: bold;
  color: var(--light-juan-blue);
}

/* HOW WE WORK SECTION  */
.work {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--mirage-blue);
}

/* .work::before {
  position: absolute;
  z-index: -1;
  top: -600px;
  left: calc(50% - 392px);
  display: block;
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: rgba(54, 83, 107, 0.15);
  content: "";
} */

.work__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  margin-left: -50px;
}

.work__item {
  margin-bottom: 40px;
  margin-left: 50px;
}

.work-patner__img {
  display: block;
}

.work__info {
  text-align: center;
  margin-top: 56px;
}

.work__title {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  color: var(--light-white);
  font-family: var(--font-stack);
}

.work__desc {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  color: var(--light-white);
  opacity: 0.7;
  margin-top: 16px;
}

.work__link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: var(--light-white);
  padding: 15px 32px;
  border: 1px solid var(--light-white);
  border-radius: 24px;
  margin-top: 60px;
  transition: background-color 0.3s ease,
  color 0.3s ease;
}

.work__link:hover {
  background-color: var(--light-white);
  color: var(--mirage-blue);
}

/* FEATURES SECTION  */
.features {
  padding: 100px 0;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-bottom: 100px;
}

.features__img {
  display: block;
  filter: drop-shadow(25px 25px 80px #8ba3b8);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.features-content {
  text-align: center;
  margin-top: 48px;
}

.features-content__title {
  margin: 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: var(--juan-blue);
  font-family: var(--font-stack);
}

.features-content__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: var(--light-juan-blue);
  margin-top: 24px;
}

/* FINANCE PAGE  */
.finance__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 80px;
}

.finance__item {
  margin-bottom: 48px;
  text-align: center;
}

.finance__item::before {
  display: block;
  content: "";
  width: 106px;
  height: 106px;
  background-image: url("../img/money-personal.svg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.finance__item--banking::before {
  background-image: url("../img/bank-step.svg");
}

.finance__item--payment::before {
  background-image: url("../img/consumer-card.svg");
}

.finance__head {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.138462px;
  color: var(--juan-blue);
}

.finance__info {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--light-juan-blue);
  margin-top: 16px;
}

/* REGSTRATION SECTION  */
.regestration__title {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--juan-blue);
  font-family: var(--font-stack);
}

.regestration__inner {
  margin-top: 32px;
}

.regestration__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 27px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: var(--light-white);
}

.regestration__btn {
  width: 100%;
  border: none;
  background-color: var(--dark-pink);
  padding: 15px 0;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--light-white);
  margin-top: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.regestration__btn:hover {
  background-color: var(--charm-pink);
}

.site-footer {
  padding-top: 40px;
  padding-bottom: 55px;
  background-color: var(--mirage-blue);
}


.site-footer__img__link {
  text-decoration: none;
}

.site-footer__img-dark {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
  text-align: center;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 30px;
}

.site-footer__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: var(--light-white);
  opacity: 0.7;
  transition: color 0.3s ease;
}

.site-footer__link:hover {
  color: #fff;
}

/* SOCIAL ICONS */
.site-footer-icon__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.social-link__item:not(:last-child) {
  margin-right: 24px;
}

.social-link__icon {
  color: var(--light-white);
  transition: color 0.3s ease;
}

.social-link__icon:hover {
  color: var(--charm-pink);
}


@media only screen and (min-width: 550px) {
  .regestration__input {
    width: 75%;
  }

  .regestration__btn {
    width: 75%;
  }
}

@media only screen and (min-width: 715px) {
  .site-header::after {
    top: -650px;
    left: calc(50% - 440px);
    width: 900px;
    height: 900px;
  }

  .hero__head {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .site-header::after {
    top: -715px;
    left: calc(50% - 474px);
    width: 1000px;
    height: 1000px;
  }

  .site-header__nav {
    display: none;
  }

  .site-header__content {
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
  }

  .sitenav {
    display: block;
    display: flex;
    background-color: transparent;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    padding: 0;
  }

  .sitenav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 64px;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .sitenav__link {
    color: var(--juan-blue);
    opacity: 0.7;
  }

  .sitenav-link__box {
    margin-top: 0;
  }

  .sitenav__link--btn {
    display: inline-block;
    margin-left: 84px;
    white-space: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* HREO SECTION  */
  .hero {
    padding-top: 48px;
  }

  .hero-container::before {
    width: 160px;
    height: 300px;
    margin-bottom: 48px;
  }

  .hero__head {
    width: 580px;
  }

  .form__wrapper {
    display: flex;
  }

  .form-btn {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
  }

  /* HOW WE WORK SECTION */

  .work__item {
    width: 145px;
  }

  .work__info {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  /* FEATURES SECTION  */
  .features__img {
    width: 400px;
    height: 250px;
  }

  .features__img--simple {
    width: 365px;
    height: 320px;
  }

  .features-content {
    width: 575px;
  }

  /* FINANCE PAGE  */
  .finance__list {
    flex-direction: row;
    margin-left: -10px;
    margin-top: 100px;
  }

  .finance__item {
    margin-left: 10px;
  }

  /* REGISTRATION PAGE  */
.regestration__title {
  padding-top: 70px;
  font-size: 48px;
  line-height: 56px;
}

  .regestration__inner {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .regestration__input {
    width: 445px;
  }

  .regestration__btn {
    width: auto;
    padding: 15px 25px;
    margin-top: 0;
  }

  /* FOOTER SECTION  */

  .site-footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-footer__list {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .site-footer__item:not(:last-child) {
    margin: 0;
    margin-right: 40px;
  }

  .site-footer-icon__list {
    margin: 0;
  }

}

@media only screen and (min-width: 1200px) {
  .site-header::after {
    top: -200px;
    left: calc(50% - -20px);
    width: 780px;
    height: 780px;
  }

  .sitenav__link:hover {
    color: var(--mirage-blue);
  }

  .hero {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .hero-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero-container::before {
    width: 265px;
    height: 500px;
    margin-bottom: 0;
    margin-left: auto;
    flex-grow: 1;
  }

  .hero-content {
    width: 550px;
    align-items: flex-start;
    margin-right: 200px;
  }

  .hero__head {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .form__group {
    margin-top: 27px;
  }

  .form__desc {
    text-align: left;
    margin-left: 27px;
  }

  /* HOW WE WORK SECTION  */
  .work-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .work__list {
    margin-left: -64px;
    justify-content: flex-end;
  }

  .work__item {
    width: 165px;
    margin-left: 64px;
  }

  .work__info {
    text-align: left;
    width: 710px;
  }

  .work__title {
    font-size: 48px;
    line-height: 56px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .work__link {
    margin-top: 32px;
  }

  /* FEATURES SECTION  */
  .features {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .features::after {
    position: absolute;
    z-index: -1;
    top: 1580px;
    left: calc(50% - -408px);
    display: block;
    width: 780px;
    height: 780px;
    border-radius: 50%;
    background-color: rgba(54, 83, 107, 0.15);
    content: "";
  }

  .features__item {
    display: flex;
    align-items: center;
  }

  .features__item:nth-child(even){
    flex-direction: row-reverse;
  }

  .features-content {
    width: 450px;
    text-align: left;
    margin-left: 125px;
  }

  .features-content--simple {
    margin-right: 95px;
    margin-left: 0;
  }

  .features__img {
    width: 445px;
    height: 285px;
  }

  .features__img--simple {
    width: 566px;
    height: 500px;
  }

  .finance__list {
    margin-left: -30px;
    margin-top: 146px;
  }

  .finance__item {
    margin-left: 30px;
  }
}